<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drone Training</title>
    <link rel="icon" href="/static/img/samatwaiq.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="row mt-4" style="margin-top: 20px;">
            <div class="col-lg-4 d-flex justify-content-start my-2 text-center">
                <a href="/">
                    <img class="img-fluid" src="/static/img/samatwaiq.png" alt="SamaTwaiq logo" width="150" height="50" />
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-center my-2 text-center">
                <a href="/">
                    <img class="img-fluid" src="/static/img/droneAcademy.png" alt="SamaTwaiq logo" width="150" height="50" />
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-end my-2 text-center">
                <a href="/">
                    <img class="img-fluid" src="/static/img/jedUni.png" alt="SamaTwaiq logo" width="150" height="50" />
                </a>
            </div>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>